#sections {
	padding-top: 20px;

	display: flex;
	flex-direction: column;
	gap: 10px;

	article {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	h1 {
		font-size: 2rem;
		margin-bottom: 10px;
	}

	h2 {
		margin-top: 20px;
		font-size: 1.5rem;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		margin-bottom: 5px;
	}

	a {
		color: rgba(0, 0, 150);
	}

	li:not(:last-child) {
		padding-bottom: 5px;
	}

	span {
		text-decoration: underline dotted;
	}

	img {
		object-fit: cover;
		scale: 100%;
		transition: scale 150ms cubic-bezier(0.4, 0, 0.2, 1);

		&:hover {
			scale: 103%;
		}
	}

	video {
		margin-top: 10px;
		margin-bottom: 20px;
	}

	img,
	video {
		border-radius: 10px;
		box-shadow: 0 20px 25px -5px #0000001a, 0 8px 10px -6px #0000001a;
	}
}

.prevent-select {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
